html,
body {
  min-width: 1200px;
}
body {
  margin: 0;
  padding: 0;
  height: 300vh;
  background-color: #f5f5f5;
  color: #333333;
}
.hidden {
  display: none;
}
button {
  border: none;
  cursor: pointer;
  height: 40px;
  width: 200px;
  background-color: #f5f5f500;
  font-size: 1.2rem;
}
.header {
  top: 0;
  z-index: 5;
}
.header_frame {
  position: fixed;
  width: 100%;
  height: 80px;
}
.header_content {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}
.header_scroll {
  background-color: white;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.4);
}
nav {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  gap: 20px;
}
#down_scroll {
  position: absolute;
  bottom: 150px;
  background-color: #ff4f00;
  color: white;
  border-radius: 30px;
  font-size: medium;
}
section {
  width: 100%;
  /* border: 1px solid black; */
  box-sizing: border-box;
  border-collapse: collapse;
}

section > div {
  text-align: center;
}

section > div > h1 {
  font-size: 2rem;
}

.home {
  padding-top: 120px;
  height: 100vh;
  background-color: #f5f5f5;
  background-image: url(./ref/profile_image_light_resize.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
}
/* 로고를 제외한 한페이지 높이 - 831px, 100vh => 911px */
.sec1 {
  height: 831px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.sec2 {
  height: 831px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
}
#profile {
  width: 600px;
  height: 650px;
  background-color: #fbfbf8;
  border-radius: 30px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
}
#desc {
  width: 400px;
  height: 650px;
  background-color: #fbfbf8;
  border-radius: 30px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
  padding: 20px;
  box-sizing: border-box;
}
#etc {
  width: 930px;
  height: 300px;
  padding: 25px;
  background-color: #fbfbf8;
  border-radius: 30px;
  box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.4);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
}
.sec3 {
  display: flex;
  justify-content: center;
  padding: 40px;
}
.sec2_frame {
  width: 1300px;
  height: 400px;
  /* background-color: #fbfbf8; */
  text-align: center;
  padding: 0 30px 0 30px;
}
.stack {
  width: 70px;
  height: 25px;
  text-align: center;
  line-height: 175%;
  border-radius: 30px;
  font-size: small;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  background-color: #ff4f00; /* #7431f9 */
  color: white;
  transition: 0.3s ease;
}
.stack:hover {
  transform: scale(1.3);
}
.stack_frame {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
}
.clicked {
  background-color: #ff4f00;
}
.stack_desc {
  width: 880px;
  height: 150px;
  /* background-color: black; */
  padding: 7px;
  box-sizing: border-box;
}

#profile_title {
  margin: 20px;
  margin-left: 30px;
}

#profile_image {
  width: 140px;
  height: 200px;
  background-color: lightgray;
  margin: 40px;

  border-radius: 10px;
}

#profile > div {
  border: 1px solid black;
}

.profile_frame_1 {
  display: flex;
  align-items: center;

  margin: 20px;

  border-color: gray;
  border-radius: 15px;

  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4); */
}

#profile_text div {
  margin: 20px;
}

#profile_list {
  margin: 20px;
  padding: 30px;

  height: 180px;
}

#profile_list > div {
  margin-top: 20px;
}

#profile_desc {
  height: 300px;
}

#desc div {
  padding: 25px;
}

#porject_frame {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin-top: 40px;
}

#porject_frame div {
  width: 300px;
  height: 300px;

  background-color: #fbfbf8;
  border-radius: 15px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}
